<launch>
	<param name="/baud_rate" type="int" value="115200" />
	<param name="/motor_controller_device" type="string" value="/dev/serial0" />
	<param name="/motor_controller_addresses" type="string" value="128,129,130,131,132" />
	
	<param name="/enc_min" type="string" value="155,90,175,424" />
	<param name="/enc_max" type="string" value="1321,1244,1366,1565" />
	
	<param name="/qpps" type="string" value="0,0,0,0" />
	<param name="/accel" type="string" value="0,0,0,0" />
	<param name="battery_low" type="int" value="11" />
	<param name="battery_high" type="int" value="18" />
	<param name="mech_dist" type="string" value="7.254,10.5,10.5,10.073" />

	<arg name="use_rviz"                  default="false"/>
    <arg name="use_rtabmapviz"            default="false"/>
    

	<include file="$(find realsense2_camera)/launch/rs_t265.launch"/>
<!--	<include file="$(find osr_bringup)/launch/rosbridge.launch"/> -->
	<include file="$(find realsense2_camera)/launch/rs_camera.launch"/>	

    <machine name="raspberrypi" address="raspberrypi" user="pi" default="false" 
		env-loader="/home/pi/catkin_ws/src/osr-rover-code/osr_bringup/scripts/setupEnvRemote.sh" />      

	<machine name="ocs" address="ocs" user="lbarnett" default="false" 
		env-loader="/home/lbarnett/catkin_ws/src/osr-rover-code/osr_bringup/scripts/setupEnvRemoteXPS.sh" />      




	<!-- Nodes to run the Open Source Rover -->	
	<node name="odometry" pkg="osr_odometry" type="osr_odom_ackerman.py"/>
	<node name="motor_controller" pkg="osr" type="motor_controller.py" respawn="true" machine="raspberrypi"/>
	<node name="joystick" pkg="osr" type="joystick.py" respawn="true" machine="raspberrypi"/>
	<node name="rover" pkg="osr" type="rover.py" respawn="true" machine="raspberrypi"/>
	<node respawn="false" pkg="joy"
			type="joy_node" name="joy_node" machine="ocs">

		<param name="autorepeat_rate"   value="1.0"/>
		<param name="coalesce_interval" value="0.05"/>

	</node> 	

	<include file="$(find osr_description)/launch/osr_desc.launch" /> 
	

	<include file="$(find rtabmap_ros)/launch/rtabmap.launch">
            <arg name="rtabmap_args"       value="--delete_db_on_start"/>
            <arg name="depth_topic"        value="/depth_camera/aligned_depth_to_color/image_raw"/>
            <arg name="frame_id"           value="depth_camera_link"/>
            <arg name="visual_odometry"    value="false"/>
            <arg name="odom_topic"         value="/tracking_camera/odom/sample"/>
            <arg name="rgb_topic"          value="/depth_camera/color/image_raw"/>
            <arg name="camera_info_topic"  value="/depth_camera/color/camera_info"/>
            <arg name="queue_size"         value="200"/>
            <arg name="rviz"               value="$(arg use_rviz)"/>
            <arg name="rtabmapviz"         value="$(arg use_rtabmapviz)"/>
			<arg name="approx_rgbd_sync"    value="false" />
    </include>


</launch>
	
